<% if(message.length >0){ %>
  <div class="alert alert-warning alert-dismissible animated bounce" style="position: absolute;
	top: 15%;
	right: 35%;
	height: 100px;
	width: 400px;
	z-index: 99;
  animation-iteration-count: 4;">
    <button type="button" id="btn" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>

    </button>
    <%= message %>
  </div>
  <% } %>
    <% layout("layout") -%>
    <div id="particles-js"></div>
      <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;">
        <div class="col-lg-12">
          <% include ../partials/adminpanel %>
        </div>
      </div>
      <div class="container">
      <div class="col-sm-6">
        <div class="container">

          <div class="panel panel-info  col-sm-9 page-content" id="myScrollspy" style="padding: 0px; margin-top: 80px; margin-bottom: 5%; min-height:500px;">

            <div class="panel-heading" style="color: #ffffff;">
              Manage Registration

            </div>
            <br>
            <form id="delete-form" action="/manage" method="GET" style="padding: 2%;">
            <select class="btn btn-default" name="sort">
              <option> Select an option.. </option>
              <option value="lastname">Sort By Last Name </option>
            </select>
            <button class="btn btn-info">Sort</button>
            </form>
            
            <a class="btn btn-info" style="float:right; margin-right: 2%;" href="/listregistration">View Confirmed Registrations</a>
    
            <div class="table-responsive">
              <div style="overflow-y: scroll; height:450px; margin-top: 2%;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="color: #ffffff; background-color: #020531;">Name</th>
                      <th style="color: #ffffff; background-color: #020531;">Status</th>
                      <th style="color: #ffffff; background-color: #020531;">Date Submitted</th>
                      <th style="color: #ffffff; background-color: #020531;">Manage Account</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% allPending.forEach(function(pending){ %>

                      <tr>
                        <td>
                          <%=pending.lastName %>,
                            <%= pending.firstName %>
                              <%= pending.middleName %>
                        </td>
                        <td>
                          <%= pending.status %>
                        </td>
                        <td>
                          <%= moment(pending.date).format('LL')%>

                        </td>
                        <td>
                          <form action="/manage/<%= pending._id %>?_method=DELETE" method="POST"> 
                          <a class="btn btn-info btn-sm" href="/manage/<%= pending._id %>">Accept</a>
                                                   
                          <button style="position: relative"class="btn btn-info btn-sm">Delete</button>                        
                          </form>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>