<% if(message && message.length >0){ %>
    <div class="alert alert-warning alert-dismissible animated bounce" style="position: absolute;
    top: 15%;
    right: 35%;
    height: 100px;
    width: 400px;
    z-index: 99;
    animation-iteration-count: 4;">
        <button type="button" id="btn" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

        </button>
        <%= message %>
    </div>
    <% } %>
        <% layout("layout") -%>
        <div id="particles-js"></div>
            <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
                <div class="col-lg-12">
                    <% include ../partials/adminpanel %>
                </div>
            </div>
            <div class="container">
            <div class="col-sm-6">
                <div class="container">
                    <div class="panel panel-info  col-sm-9 page-content" id="myScrollspy" style="padding: 0px; margin-top: 80px; height:460px;">

                        <div class="panel-heading" style="color: #ffffff; margin-bottom: 1%;">Your Logs</div>
                        <label for="usr" style="margin-left: 1%; margin-top: 1%;">Filter:</label>
                        <div class="container">
                          <div class="dropdown" style="margin-top:5px; margin-left: -10px;">
                            <button style="border-radius: 5px;" class="dropdown-toggle" type="button" data-toggle="dropdown">--Please Select--
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li>
                                <button class="btn btn-default form-control" onClick="postPersonal()">Your Logs</button>
                                <form id="postFormPersonalLog" action="/viewlogsadmin" method="GET">
                                  <input type="hidden" value="postAdmin" id="postPersonal" name="PersonalLog" />
                                </form>
                              </li>
                              <li>
                                <button class="btn btn-default form-control" onClick="postAdmin()">Admin</button>
                                <form id="postFormAdminLog" action="/viewlogsadmin" method="GET">
                                  <input type="hidden" value="postAdmin" id="postAdminLogs" name="AdminLog" />
                                </form>
                              </li>
                              <li>
                                <button class="btn btn-default form-control" onClick="postFaculty()">Faculty</button>
                                <form id="postFormFacultyLog" action="/viewlogsadmin" method="GET">
                                  <input type="hidden" value="postFaculty" id="postFacultyLogs" name="FacultyLog" />
                                </form>
                              </li>
                              <li>
                                <button class="btn btn-default form-control" onClick="postStudent()">Student</button>
                                <form id="postFormStudentLog" action="/viewlogsadmin" method="GET">
                                  <input type="hidden" value="postStudent" id="postStudentLogs" name="StudentLog" />
                                </form>
                              </li>
                            </ul>
                          </div>
                        </div>
                        
                        <div class="table-responsive">
                            <div style="overflow-y: scroll; height:330px; margin-top: 1%;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="color: #ffffff; background-color: #020531;">Name</th>
                                            <th style="color: #ffffff; background-color: #020531;">Email</th>
                                            <th style="color: #ffffff; background-color: #020531;">Status</th>
                                            <th style="color: #ffffff; background-color: #020531;">Date / Time</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <% logs.forEach(function(log){ %>
                                            <td>
                                                <%= log.name %>
                                            </td>
                                            <td>
                                                <%= log.email %>
                                            </td>
                                            <td>
                                                <%= log.logtype %>
                                            </td>
                                            <td>
                                                <%= log.logDate %>
                                            </td>
                                            
                                    </tr>
                                    <% }); %>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            </div>
            </div>
            </div>
        <script>

        function postPersonal() {
          // alert("lol1")
          var postPersonal = document.getElementById("postPersonal");
          var postNumVal = (postPersonal.value = "postPersonal");
          console.log(postNumVal);
          $("#postFormPersonalLog").submit();
        }

        function postAdmin() {
          // alert("lol1")
          var postAdminL = document.getElementById("postAdminLogs");
          var postNumVal = (postAdminL.value = "postAdmin");
          console.log(postNumVal);
          $("#postFormAdminLog").submit();
        }

        function postFaculty() {
          // alert("lol2")
          var postFacultyL = document.getElementById("postFacultyLogs");
          var postNumVal = (postFacultyL.value = "postFaculty");
          console.log(postNumVal);
          $("#postFormFacultyLog").submit();
        }

        function postStudent() {
          // alert("lol3")
          var postStudentL = document.getElementById("postStudentLogs");
          var postNumVal = (postStudentL.value = "postStudent");
          console.log(postNumVal);
          $("#postFormStudentLog").submit();
        }
      </script>